<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.xopen.gpevaluation.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.xopen.gpevaluation.rcp.Perspective"
            id="org.xopen.gpevaluation.rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.xopen.gpevaluation.rcp.ui.NavigationView"
            icon="resources/icons/industry.gif"
            id="org.xopen.gpevaluation.rcp.ui.navigationView"
            name="资源管理器">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.xopen.gpevaluation.rcp.application"
            name="绿色产品评价系统">
         <property
               name="appName"
               value="绿色产品评价系统">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,222,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,240,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="resources/images/about.png">
         </property>
         <property
               name="aboutText"
               value="Copyright (C) All Rights Reserved">
         </property>
         <property
               name="windowImages"
               value="resources/images/16.gif,resources/images/32.gif,resources/images/48.gif,resources/images/64.gif,resources/images/128.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.xopen.gpevaluation.rcp.menu.file"
               label="文件(&amp;F)">
            <menu
                  label="新建">
               <command
                     commandId="org.xopen.gpevaluation.rcp.commands.showSchemeWizard"
                     icon="resources/icons/scheme.gif"
                     label="评价体系"
                     style="push"
                     tooltip="评价体系">
               </command>
               <command
                     commandId="org.xopen.gpevaluation.rcp.commands.showEvaluationWizard"
                     icon="resources/icons/eval.gif"
                     label="产品评价"
                     style="push"
                     tooltip="产品评价">
               </command>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     label="其他..."
                     style="push"
                     tooltip="其他...">
                  <visibleWhen
                        checkEnabled="true">
                     <reference
                           definitionId="org.xopen.gpevaluation.rcp.definitions.isAdmin">
                     </reference>
                  </visibleWhen>
               </command>
            </menu>
            <separator
                  name="org.xopen.gpevaluation.rcp.menu.file.separator.open"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="保存"
                  style="push"
                  tooltip="保存">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="保存所有"
                  style="push"
                  tooltip="保存所有">
            </command>
            <separator
                  name="org.xopen.gpevaluation.rcp.menu.file.save"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="打印"
                  style="push"
                  tooltip="打印">
            </command>
            <separator
                  name="org.xopen.gpevaluation.rcp.menu.file.print"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="resources/icons/exit.gif"
                  label="退出"
                  style="push"
                  tooltip="退出程序">
            </command>
         </menu>
         <menu
               label="编辑">
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="剪切"
                  style="push"
                  tooltip="剪切">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="拷贝"
                  style="push"
                  tooltip="拷贝">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="粘贴"
                  style="push"
                  tooltip="粘贴">
            </command>
            <separator
                  name="org.xopen.gpevaluation.rcp.menu.edit.paste"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.rename"
                  label="重命名"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="删除"
                  style="push"
                  tooltip="删除">
            </command>
         </menu>
         <menu
               label="工具">
            <command
                  commandId="org.xopen.gpevaluation.rcp.commands.logout"
                  disabledIcon="resources/icons/logout.gif"
                  icon="resources/icons/logout.gif"
                  style="push">
            </command>
            <separator
                  name="org.xopen.gpevaluation.rcp.menu.tools.logout">
            </separator>
            <command
                  commandId="org.xopen.gpevaluation.rcp.preference"
                  label="设置..."
                  style="push"
                  tooltip="软件设置...">
            </command>
         </menu>
         <menu
               id="help"
               label="帮助">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="关于..."
                  style="push"
                  tooltip="关于...">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.xopen.gpevaluation.rcp.toolbar.create">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="resources/icons/industry.gif"
                  label="创建"
                  style="pulldown">
            </command>
         </toolbar>
         <toolbar
               id="org.xopen.gpevaluation.rcp.toolbar.save">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="保存"
                  style="push"
                  tooltip="保存">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="保存所有"
                  style="push"
                  tooltip="保存所有">
            </command>
         </toolbar>
         <toolbar
               id="org.xopen.gpevaluation.rcp.toolbar.print">
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="打印"
                  style="push"
                  tooltip="打印">
            </command>
         </toolbar>
         <toolbar
               id="org.xopen.gpevaluation.rcp.toolbar.regularedit">
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="剪切"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="拷贝"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="粘贴"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="org.xopen.gpevaluation.rcp.toolbar.exit">
            <command
                  commandId="org.xopen.gpevaluation.rcp.commands.logout"
                  disabledIcon="resources/icons/logout.gif"
                  icon="resources/icons/logout.gif"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="resources/icons/exit.gif"
                  label="退出"
                  style="push"
                  tooltip="退出程序">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.newWizard">
         <command
               commandId="org.xopen.gpevaluation.rcp.commands.showSchemeWizard"
               icon="resources/icons/scheme.gif"
               label="评价体系"
               style="push"
               tooltip="评价体系">
         </command>
         <command
               commandId="org.xopen.gpevaluation.rcp.commands.showEvaluationWizard"
               icon="resources/icons/eval.gif"
               label="产品评价"
               style="push"
               tooltip="产品评价">
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="其他..."
               style="push"
               tooltip="其他...">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="org.xopen.gpevaluation.rcp.definitions.isAdmin">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.xopen.gpevaluation.rcp.handler.CallEditor"
            id="org.xopen.gpevaluation.rcp.commands.callEditor"
            name="Call Editor">
      </command>
      <command
            defaultHandler="org.xopen.gpevaluation.rcp.handler.ShowCreateWizard"
            id="org.xopen.gpevaluation.rcp.commands.showCreateWizard"
            name="CreateWizard">
         <commandParameter
               id="org.xopen.gpevaluation.rcp.commands.parameters.wizardType"
               name="Wizard Type"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.xopen.gpevaluation.rcp.handler.Logout"
            id="org.xopen.gpevaluation.rcp.commands.logout"
            name="注销">
      </command>
      <command
            id="org.xopen.gpevaluation.rcp.commands.showSchemeWizard"
            name="Scheme Creating Wizard">
      </command>
      <command
            id="org.xopen.gpevaluation.rcp.commands.showEvaluationWizard"
            name="Evaluation Creating Wizard">
      </command>
      <command
            id="org.xopen.gpevaluation.rcp.commands.newWizard"
            name="New Wizard">
      </command>
      <command
            id="org.xopen.gpevaluation.rcp.preference"
            name="首选项">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.xopen.gpevaluation.rcp.ui.SchemeEditor"
            default="false"
            extensions="gps"
            icon="resources/icons/scheme.gif"
            id="org.xopen.gpevaluation.rcp.ui.schemeEditor"
            name="schemeEditor">
      </editor>
      <editor
            class="org.xopen.gpevaluation.rcp.ui.EvaluationEditor"
            default="false"
            extensions="gpe"
            icon="resources/icons/eval.gif"
            id="org.xopen.gpevaluation.rcp.ui.evaluationEditor"
            name="evaluationEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.xopen.gpevaluation.rcp.preference.UserManagementPage"
            id="org.xopen.gpevaluation.rcp.preference.user"
            name="用户管理">
      </page>
   </extension>
   <extension
         id="GreenEval"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.xopen.gpevaluation.rcp.application"
            name="绿色产品评价系统">
         <property
               name="windowImages"
               value="resources/images/16.gif,resources/images/32.gif,resources/images/48.gif,resources/images/64.gif,resources/images/128.gif">
         </property>
         <property
               name="aboutText"
               value="Copyright (C) All Rights Reserved">
         </property>
         <property
               name="aboutImage"
               value="resources/images/about.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,240,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,222,445,20">
         </property>
         <property
               name="appName"
               value="绿色产品评价系统">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.xopen.gpevaluation.rcp.newwizard.general"
            name="常用">
      </category>
      <primaryWizard
            id="org.xopen.gpevaluation.rcp.wizards.createSchemeWizard">
      </primaryWizard>
      <wizard
            category="org.xopen.gpevaluation.rcp.newwizard.general"
            class="org.xopen.gpevaluation.rcp.ui.CreateSchemeWizard"
            icon="resources/icons/scheme.gif"
            id="org.xopen.gpevaluation.rcp.wizards.createSchemeWizard"
            name="评价体系">
         <description>
            创建评价体系
         </description>
      </wizard>
      <wizard
            category="org.xopen.gpevaluation.rcp.newwizard.general"
            class="org.xopen.gpevaluation.rcp.ui.CreateEvaluationWizard"
            icon="resources/icons/eval.gif"
            id="org.xopen.gpevaluation.rcp.wizards.createEvaluationWizard"
            name="产品评价">
         <description>
            创建绿色产品评价项目
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xopen.gpevaluation.rcp.handler.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <enabledWhen>
            <and>
               <reference
                     definitionId="org.xopen.gpevaluation.rcp.definitions.oneElementsSelected">
               </reference>
               <reference
                     definitionId="org.xopen.gpevaluation.rcp.definitions.hasPermissions">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.xopen.gpevaluation.rcp.handler.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <and>
               <reference
                     definitionId="org.xopen.gpevaluation.rcp.definitions.elementsSelected">
               </reference>
               <reference
                     definitionId="org.xopen.gpevaluation.rcp.definitions.hasPermissions">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.xopen.gpevaluation.rcp.handler.ShowSchemeWizard"
            commandId="org.xopen.gpevaluation.rcp.commands.showSchemeWizard">
         <enabledWhen>
            <reference
                  definitionId="org.xopen.gpevaluation.rcp.definitions.isAdmin">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.xopen.gpevaluation.rcp.handler.ShowEvaluationWizard"
            commandId="org.xopen.gpevaluation.rcp.commands.showEvaluationWizard">
         <enabledWhen>
            <reference
                  definitionId="org.xopen.gpevaluation.rcp.definitions.isRegistered">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.xopen.gpevaluation.rcp.handler.ShowPreferencePageHandler"
            commandId="org.xopen.gpevaluation.rcp.preference">
         <enabledWhen>
            <reference
                  definitionId="org.xopen.gpevaluation.rcp.definitions.isAdmin">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.xopen.gpevaluation.rcp.definitions.oneElementsSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="org.xopen.gpevaluation.rcp.definitions.elementsSelected">
         <with
               variable="selection">
            <not>
               <count
                     value="0">
               </count>
            </not>
         </with>
      </definition>
      <definition
            id="org.xopen.gpevaluation.rcp.definitions.isAdmin">
         <test
               args="8"
               property="org.xopen.gpevaluation.rcp.property.isAllowed">
         </test>
      </definition>
      <definition
            id="org.xopen.gpevaluation.rcp.definitions.isGuest">
         <test
               args="2"
               property="org.xopen.gpevaluation.rcp.property.isAllowed">
         </test>
      </definition>
      <definition
            id="org.xopen.gpevaluation.rcp.definitions.isRegistered">
         <test
               args="4"
               property="org.xopen.gpevaluation.rcp.property.isAllowed">
         </test>
      </definition>
      <definition
            id="org.xopen.gpevaluation.rcp.definitions.hasPermissions">
         <or>
            <reference
                  definitionId="org.xopen.gpevaluation.rcp.definitions.isAdmin">
            </reference>
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.xopen.gpevaluation.rcp.model.EvaluationNode">
                     </instanceof>
                  </iterate>
               </with>
               <reference
                     definitionId="org.xopen.gpevaluation.rcp.definitions.isRegistered">
               </reference>
            </and>
         </or>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.xopen.gpevaluation.rcp.propertyTesters.CheckPermission"
            id="org.xopen.gpevaluation.rcp.testers.checkPermission"
            namespace="org.xopen.gpevaluation.rcp.property"
            properties="isAllowed"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
