<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.zyx.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Zyx Perspective"
            class="com.example.zyx.Perspective"
            id="com.example.zyx.perspective">
      </perspective>
   </extension>
   
   <!-- The following extension is to enable welcome page  -->
   <extension
         point="org.eclipse.ui.intro">
         <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.example.zyx.intro">
      </intro>
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.example.zyx.product">
      </introProductBinding>
   </extension>
   
   <!-- The following extension is to enable welcome page  -->
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="com.example.zyx.configId"
            introId="com.example.zyx.intro">
            <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
         </config>
   </extension>
 
      <extension
         point="org.eclipse.ui.views">
      <category
            id="com.example.zyx.browser"
            name="Browser Example"/>
      <view
            id="com.example.zyx.GameView"
            name="Browser"
            icon="images/window16x16.gif"
            class="com.example.zyx.GameView"
            category="com.example.zyx.browser"/>
   </extension>
   
      <extension
            id="product"
            point="org.eclipse.core.runtime.products">
         <product
               application="com.example.zyx.application"
               name="%productName">
            <property
                  name="windowImages"
                  value="images/window16x16.gif,images/window32x32.gif"/>
            <property
                  name="aboutText"
                  value="%productBlurb"/>
            <property
                  name="aboutImage"
                  value="images/About130x165.gif"/>
            <property
                  name="startupForegroundColor"
                  value="400040"/>
            <property
                  name="startupProgressRect"
                  value="0,280,455,15"/>
            <property
                  name="startupMessageRect"
                  value="7,220,441,20"/>
            <property
                  name="appName"
                  value="%productName">
            </property>
            <property
                  name="preferenceCustomization"
                  value="plugin_customization.ini">
            </property>
         </product>
      </extension>
</plugin>
